<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>meteo-lamanu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.meteo.dashboard.Dashboard</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.meteo.dashboard.Test</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.meteo.authenticate.Login</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.meteo.authenticate.test</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.meteo.dashboard.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCity</display-name>
    <servlet-name>AddCity</servlet-name>
    <servlet-class>com.meteo.dashboard.AddCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCity</servlet-name>
    <url-pattern>/AddCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.meteo.authenticate.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLatLng</display-name>
    <servlet-name>GetLatLng</servlet-name>
    <servlet-class>com.meteo.dashboard.GetLatLng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLatLng</servlet-name>
    <url-pattern>/GetLatLng</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCity</display-name>
    <servlet-name>DeleteCity</servlet-name>
    <servlet-class>com.meteo.dashboard.DeleteCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCity</servlet-name>
    <url-pattern>/DeleteCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCity</display-name>
    <servlet-name>RemoveCity</servlet-name>
    <servlet-class>com.meteo.dashboard.RemoveCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCity</servlet-name>
    <url-pattern>/RemoveCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.meteo.authenticate.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>